body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding-top: 30px;
}

h1 {
  color: #222;
}

.controls {
  margin-top: 30px;
}

button {
  width: 80px;
  height: 80px;
  margin: 10px;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  background: #007bff;
  color: white;
}

button:hover {
  background: #0056b3;
}

#status {
  margin-top: 20px;
  font-size: 20px;
}