body{
  background:#0f172a;
  color:white;
  font-family:Arial;
  text-align:center;
  padding-top:40px;
}

h1{
  font-size:32px;
}

.card{
  background:#1e293b;
  width:300px;
  margin:auto;
  padding:30px;
  border-radius:20px;
}

.row{
  display:flex;
  justify-content:center;
}

button{
  width:80px;
  height:80px;
  margin:10px;
  border:none;
  border-radius:20px;
  font-size:30px;
  background:#22c55e;
  color:white;
}
